
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block content %}

  
<div class ="container col-6 mt-4">
   <center><h2 >Login On Todo</h2></center>
    <form method ="POST" class="mt-3">
        {% csrf_token %}

        {{ form|crispy}}

        <center><button type="submit" class="btn btn-primary btn-lg">Login</button> </center>
    </form>
    
    <div class ="container" style="margin-top: 20px;">
        {% if messages %}
        <div id="message-container">
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
</div>

{% endblock content %}

